<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!--Rura de Lectura-->
    <add key="Input" value="C:\Input\"/>
    <!--Rura de Escritura-->
    <add key="Output" value="C:\Output\"/>
    <!--Token para identificar la empresa-->
    <add key="User" value="4a025f69e934780f3b9329f49aef7e88cca18186"/>
    <!--Token para identificar la empresa-->
    <add key="Password" value="86313fcdbce8003641211c2335ff4d6fdc444c5c"/>  
  </appSettings>
    
</configuration>